@model Template.BL.Models.EditRoleVM


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form asp-action="Update" asp-controller="Roles" class="form-group">

    <label asp-for="Id">Id</label>
    <input type="text" class="form-control" asp-for="Id" readonly />
    <br />

    <label asp-for="Name">Role Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <center>
        <input type="submit" class="btn btn-primary" value="Edit" />
    </center>

</form>

<a asp-controller="Roles" asp-action="AddOrRemoveUsers" asp-route-id="@Model.Id" class="btn btn-warning btn-block">Assign or Remove Role With Users</a>

@section MicrosoftValidationUser{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}