@model Template.BL.Models.EditUserVM

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form asp-controller="Users" asp-action="Update" class="form-group">

    <div asp-validation-summary="All" class="text-danger validationSummary"></div>

    <label asp-for="Id">Id</label>
    <input type="text" class="form-control" asp-for="Id" readonly />
    <span asp-validation-for="Id" class="text-danger"></span>
    <br />

    <label asp-for="UserName">User Name</label>
    <input type="text" class="form-control" asp-for="UserName" />
    <span asp-validation-for="UserName" class="text-danger"></span>
    <br />

    <label asp-for="Email">Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <center>
        <input type="submit" class="btn btn-primary" value="Edit" />
        <input type="reset" class="btn btn-danger" value="Clare" />
    </center>
</form>

@section MicrosoftValidationUser{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
